on:
  push:
    tags:
      - "v*"

name: Create Release
env:
  PROJECT_NAME: eso-addon-manager

jobs:
  build:
    name: Build application
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - build: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            formats: appimage,deb

          - build: macos
            os: macos-latest
            target: aarch64-apple-darwin
            formats: dmg

          - build: windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
            formats: wix
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install packages
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          sudo apt update
          sudo apt install libssl-dev libgtk-3-dev libglib2.0-dev

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install cargo-packager
        run: cargo binstall cargo-packager --no-confirm

      - name: Build
        run: cargo build --release --target=${{ matrix.target }}

      - name: Package
        run: cargo packager --release --target=${{ matrix.target }} --formats ${{ matrix.formats }} 

      - name: Copy Executables
        shell: bash
        run: |
          TARGET="${{ matrix.target }}"
          PKG="${{ env.PROJECT_NAME }}"

          VERSION="$(cargo metadata --format-version=1 --no-deps | jq -r --arg PKG "$PKG" '.packages[] | select(.name==$PKG) | .version')"

          EXT=""
          case "$TARGET" in
            *-pc-windows-*) EXT=".exe" ;;
          esac

          cp ./target/${TARGET}/release/${PKG}${EXT} build/${PKG}_${VERSION}_${TARGET}

      - name: Upload Packages
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.build }}
          path: ./build/*

  release_and_publish:
    name: Create release and publish
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Get the release version from the tag
        shell: bash
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Download all artifacts
        uses: actions/download-artifact@v4.1.7
        with:
          path: artifacts

      - name: Create Release And Publish These Artifacts
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ env.VERSION }}
          files: |
            artifacts/*/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
