on:
  push:
    tags:
      - "v*"

name: Create Release
env:
  PROJECT_NAME: eso-addon-manager

jobs:
  build:
    name: Build application
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - build: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-gnu

          - build: macos
            os: macos-latest
            target: x86_64-apple-darwin

          - build: windows
            os: windows-latest
            target: x86_64-pc-windows-msvc
      fail-fast: false
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Rust toolchain "${{ matrix.target }}"
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: ${{ matrix.target }}
          override: true
          profile: minimal

      - name: Install packages
        if: matrix.os == 'ubuntu-latest'
        shell: bash
        run: |
          sudo apt update
          sudo apt install libssl-dev libgtk-3-dev libglib2.0-dev

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@main

      - name: Install cargo-packager
        run: cargo binstall cargo-packager --no-confirm

      - name: Build and package "${{ matrix.target }}"
        run: cargo packager --release --verbose --target ${{ matrix.target }}

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.target }}
          path: ./target/release/${{ env.PROJECT_NAME }}*

  release_and_publish:
    name: Create release and publish
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Get the release version from the tag
        shell: bash
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Download all artifacts
        uses: actions/download-artifact@v4.1.7
        with:
          path: artifacts

      - name: Create Release And Publish These Artifacts
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ env.VERSION }}
          files: |
            artifacts/*/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
